@model StudentGrades.BLL.DTOs.Grade

@{
    Layout = "_Layout";
}

@using (Html.BeginForm("CreateGrade", "Students", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="card bg-secondary">
        <div class="card-body">
            <h2 class="card-title text-center text-white">Add new grade</h2>
            <div class="form-group row">
                <div class="col mb-1 col-md-4 col-12">
                    <div class="card">
                        <div class="card-body">
                            @Html.LabelFor(m => m.Value, new { @class = "col-form-label mx-3" })
                        </div>
                    </div>
                </div>
                <div class="col mb-1 col-md-8 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mx-3">
                                @Html.EditorFor(m => m.Value, new { htmlAttributes = new { @class = "form-control col-md-6", placeholder = "Select year", min = "1", max = "5" } })
                                @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger ml-3" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col mb-1 col-md-4 col-12">
                    <div class="card">
                        <div class="card-body">
                            @Html.LabelFor(m => m.OwnerId, new { @class = "col-form-label mx-3" })
                        </div>
                    </div>
                </div>
                <div class="col mb-1 col-md-8 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mx-3">
                                @Html.EditorFor(m => m.OwnerId, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                                @Html.ValidationMessageFor(model => model.OwnerId, "", new { @class = "text-danger ml-3" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    <button type="submit" class="btn btn-secondary btn-outline-light" style="width:100%">Submit</button>
                </div>
            </div>
        </div>
    </div>}
